:root {
  --step--2: clamp(0.69rem, calc(0.61rem + 0.39vw), 0.89rem);
  --step--1: clamp(0.78rem, calc(0.69rem + 0.43vw), 1.00rem);
  --step-0: clamp(0.88rem, calc(0.78rem + 0.49vw), 1.13rem);
  --step-1: clamp(0.98rem, calc(0.87rem + 0.55vw), 1.27rem);
  --step-2: clamp(1.11rem, calc(0.98rem + 0.62vw), 1.42rem);
  --step-3: clamp(1.25rem, calc(1.11rem + 0.70vw), 1.60rem);
  --step-4: clamp(1.40rem, calc(1.25rem + 0.78vw), 1.80rem);
  --step-5: clamp(1.58rem, calc(1.40rem + 0.88vw), 2.03rem);

  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
  --space-2xs: clamp(0.44rem, calc(0.39rem + 0.24vw), 0.56rem);
  --space-xs: clamp(0.69rem, calc(0.61rem + 0.37vw), 0.88rem);
  --space-s: clamp(0.88rem, calc(0.78rem + 0.49vw), 1.13rem);
  --space-m: clamp(1.31rem, calc(1.17rem + 0.73vw), 1.69rem);
  --space-l: clamp(1.75rem, calc(1.55rem + 0.98vw), 2.25rem);
  --space-xl: clamp(2.63rem, calc(2.33rem + 1.46vw), 3.38rem);
  --space-2xl: clamp(3.50rem, calc(3.11rem + 1.95vw), 4.50rem);
  --space-3xl: clamp(5.25rem, calc(4.66rem + 2.93vw), 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.13rem + 0.61vw), 0.56rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.27rem + 0.85vw), 0.88rem);
  --space-xs-s: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --space-s-m: clamp(0.88rem, calc(0.56rem + 1.59vw), 1.69rem);
  --space-m-l: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --space-l-xl: clamp(1.75rem, calc(1.12rem + 3.17vw), 3.38rem);
  --space-xl-2xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.50rem);
  --space-2xl-3xl: clamp(3.50rem, calc(2.23rem + 6.34vw), 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(0.88rem, calc(0.34rem + 2.68vw), 2.25rem);

  --buttonradius: .5em;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Plus+Jakarta+Sans&family=Poppins:wght@700&display=swap');

html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: var(--step-0);
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #DDE3E3;
}

h1,
h2,
h3 {
  font-weight: lighter;
}

/* Header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/header.JPG');
  background-position: bottom;
  background-size: cover;
  justify-content: center;
  height: 100vh;
  color: #DDE3E3;
}

.primary-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content {
  text-align: center;
  margin: auto auto !important;
}

.header-content h1 {
  font-size: clamp(3.75rem, calc(2.29rem + 7.32vw), 7.50rem);
  font-family: Montserrat;
  margin: var(--space-l) 0;
}

.header-content h2 {
  font-size: clamp(1.25rem, calc(0.52rem + 3.66vw), 3.13rem);
  font-family: 'Poppins', sans-serif;
  margin: var(--space-m) 0;
}

.header-join {
  padding: var(--space-xs);
  margin: var(--space-s);
  background: #5F3F2A;
  color: #DDE3E3;
  border: none;
  border-radius: var(--buttonradius);
  font-size: var(--step-1);
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 0.2s;
}

.header-join:hover,
.header-join:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.15em);
}

/* Primary header */
.nav-box-bg {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  height: 82px;
  width: 100%;
  z-index: 0;
}

.nav-container {
  display: flex;
  height: 82px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo-container {
  z-index: 1001;
}

.logo {
  width: 5rem;
  height: auto;
  margin: var(--space-xs);
}


.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  color: #f5f5f5;
  padding: var(--space-xs);
}

.mobile-nav-toggle {
  display: none;
}

li a::before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #B57A57;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .15s ease-in-out;

}

.topli a:hover::before,
.topli a:focus::before {
  transform-origin: left;
  transform: scaleX(1);
}

hr {
  text-align: center;
  width: 85%;
  background-color: #B57A57;
  height: 1px;
  border: 0;
  margin: var(--space-l-xl) auto;
}

/* Main Web */
h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

.intro h1 {
  font-weight: lighter;
  color: #3D455C;

}

/* grid main body*/

.grid:nth-child(odd) {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'gimg gtext';
}

.grid:nth-child(even) {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'gtext gimg';
  padding: 10vh 0px;
}

figure {
  margin: 0;
  box-shadow: 0.5em 0.5em #3d455c2a;
  border-radius: 20px;
  grid-area: gimg;
}

.gridimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

.text-wrapper {
  align-self: center;
  margin: 0 var(--space-xl);
  grid-area: gtext;
}

.text-wrapper h2 {
  color: #3D455C;
}


/* Support Us */

.donate {
  margin: 0 0 var(--space-m);
  text-align: center
}

.donate h2 {
  font-weight: lighter;
  color: #5F3F2A;
}

.button-donate {
  background-color: #3D455C;
  color: #f5f5f5;
  border: none;
  padding: var(--space-xs);
  margin: var(--space-s);
  border-radius: var(--buttonradius);
  font-size: var(--step-1);
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: ease-in 0.10s;
  text-align: center;
}

.button-donate:hover,
.button-donate:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.15em);
}

/* Footer */
footer {
  display: block;
  background-color: #1c1c1c;
  color: #f5f5f5;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--space-m) 0vw;
}

#logofoot {
  height: auto;
  width: 100px;
  margin: var(--space-xs) 0;
}

.footer-logo {
  max-width: 40%;
  margin: 0 var(--space-m);
}

.footer-logo p {
  margin: 0;
  justify-content: center;
}


.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 var(--space-m);
}

.footer-col strong {
  font-size: var(--step-1);
}

.footer-col ul {
  margin: 0;
  padding: 0;
}

.footer-col li {
  list-style-type: none;
  padding: var(--space-3xs) 0em;
}

.footer-col li a {
  text-decoration: none;
  color: #f5f5f5;
}

.footer-cp {
  font-size: var(--step--2);
  padding: var(--space-2xs);
  text-align: center;
  color: grey;
}

.footer-cp p {
  margin: 0
}

h1,
li,
img,
h2 {
  -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}


.flex {
  display: flex;
}

/* Responsive */
@media (max-width:768px) {
  .primary-navigation {
    position: absolute;
    z-index: 1000;
    inset: 0% 0 auto 0;
    background: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    padding: var(--space-3xl) var(--space-l) var(--space-l);
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    font-size: var(--step-1);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateY(0%);
  }

  .primary-navigation li {
    padding: var(--space-xs) 0;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: var(--space-l);
    right: var(--space-2xl);
    align-items: flex-end;
    background: url('/src/icons/icons8-menu-30.png');
    background-repeat: none;
    width: 30px;
    aspect-ratio: 1;
    border: 0;
  }


  .grid:nth-child(n+1) {
    grid-template-columns: auto;
    grid-template-areas: 'gimg''gtext';
  }

  .gridimg {
    width: 100%;
  }

  .footer-flex {
    flex-direction: column;
  }

  .footer-logo {
    max-width: fit-content;
  }

  .footer-col {
    margin: var(--space-m);
  }
}

@media (max-height:415px) {
  .head-title {
    font-size: clamp(3.16rem, calc(0.15rem + 6.70vw), 4.92rem) !important;
    margin: var(--space-s) !important;
  }

  .head-subtitle {
    font-size: clamp(0.98rem, calc(0.74rem + 0.54vw), 1.13rem) !important;
    margin: var(--step-3) 0 !important;
  }

  .header-join {
    font-size: var(--step-0) !important;
    margin: var(--space-3xs);
    padding: var(--space-2xs);
  }
}