html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #DDE3E3;
  font-size: 16px;
}

#logonav {
  width: auto;
  height: 50px;
  background-size: cover;
  padding: 10px;
}

header {
  width: 100%;
  background-color: #3D455C;
}
.navbar {
  display: flex;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 10px 0px;
  justify-content: space-between;
}

ul {
  padding: 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
}

.nav-list li {
  width: 80px;
  padding: 5px;
}

.topli a {
  font-size: 1.1em;
  padding: 6px 0px;
  position: absolute;
  color: #f5f5f5;
  display: block;
  text-decoration: none;
  transition: ease-in 0.10s;
}


.topli a::before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #B57A57;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .15s ease-in-out;

}

.topli a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.thispage{
  color: #B57A57 !important;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.gap {
  height: 64px;

}

.title {
  text-align: center;
}
.title h1 {
  font-size: xx-large;
  font-weight: lighter;
  color: #3D455C;
}


.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1em;
}
.descbox {
  display: grid;
  grid-row: repeat(2, 1fr);
  justify-content: space-evenly;
  grid-area: 1 / 1 / span 2 / span 2;
  background-color: #99ABB9;
  padding: 2em;
}
.pfp {  
  display: flex;
  align-items: center;
  justify-content: center;
}
.pfp > img {
  width: 8em;
  height: 8em;
  padding: 1em;
  border-radius: 50%;
}
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 3 / 4 / span 1 / span 1;
  background-color: #99ABB9;
  text-align: center;
  padding: 1em;
}


.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 4 / 3 / span 1 / span 1;
  background-color: #99ABB9;
  text-align: center;
  padding: 1em;
}
#galleryicon {
  font-size: 64px;
  padding: 0.15em;
}
.imgbox {
  width: 100%;
  height: 100%;
}
.imgbox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 7px #3D455C; */
}
#ls1 {
  grid-area: 2 / 3 / span 1 / span 2;
}
#ls2 {
  grid-area: 3 / 2 / span 1 / span 2;
}

.desc > button {
  font-size: 1em;
  border-style: none;
  padding: 1em;
  border-radius: .75em;
  color: #DDE3E3;
  background-color: #3D455C;
}

/* Footer */
footer {
  display: block;
  background-color: #1c1c1c;
  color: #f5f5f5
}

#logofoot {
  height: auto;
  width: 100px;
  margin: 20px 0px;
}

.footer-logo p {
  margin: 0;
  justify-content: center;
}

.foogrid {
  display: grid;
  grid-template-columns: 40% repeat(2, 1fr);
  column-gap: 30px;
}

.fooul li {
  display: block;
  padding: 5px;
  list-style-type: none;
}

.fooul li a {
  text-decoration: none;
  color: #f5f5f5;


}

.fooli a {
  color: #f5f5f5;
  text-decoration: none
}

.cp {
  font-size: 12px;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: grey;
}




@media (max-width:768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .descbox {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .location {
   grid-area: 4 / 3 / span 1 / span 1; 
  }
  .date {
    grid-area: 5 / 1 / span 1 / span 1;
  }
  .tablet-dissapear {
    display: none;
  }
  #ls1 {
    grid-area: 3 / 2 / span 1 / span 2;
  }
  #ls2 {
    grid-area: 4 / 1 / span 1 / span 2;
  }
  .foogrid {
    grid-template-columns: auto;
    row-gap: 10px;
  }
  .footer-logo p {
    margin: 10px 0px;
    padding: 0px 5px 
  }
}
@media (max-width:600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .descbox {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .location {
   grid-area: 3 / 2 / span 1 / span 1; 
   justify-content: flex-start;
  }
  .date {
    grid-area: 3 / 1 / span 1 / span 1;
    justify-content: flex-start;
  }
  .tablet-dissapear {
    display: block;
  }
  #ls1 {
    grid-area: 5 / 1 / span 1 / span 2;
  }
  #ls2 {
    grid-area: 7 / 1 / span 1 / span 2;
  }

}
@media (max-width:376px) {
  .descbox {
    padding: 1em;
  }
  .pfp > img {
    width: 6em;
    height: 6em;
  }
}